.Rproj.user
.Rhistory
.RData
.Ruserdata
data/climate_data/na_climatezones_mappackage.zip
data/climate_data/na_climatezones_shapefile.zip
resources/class_template-scripts/
data/03_vcfs/pd.vcf.gz
.DS_Store
.DS_Store
code/.DS_Store
data/.DS_Store
code/.DS_Store
data/.DS_Store
data/05_algatr/n-amer-no-clones_filtered.vcf
data/climate_data/Canada_shapefile/lpr_000b21a_e.dbf
data/climate_data/Canada_shapefile/lpr_000b21a_e.prj
data/climate_data/Canada_shapefile/lpr_000b21a_e.shp
data/climate_data/Canada_shapefile/lpr_000b21a_e.shx
data/climate_data/Canada_shapefile/lpr_000b21a_e.xml
data/climate_data/CEC_NoA_climatezones/climatezones_mappackage/NA_ClimateZones_2021_metadata.doc
data/climate_data/CEC_NoA_climatezones/climatezones_mappackage/NA_ClimateZones.mpkx
data/climate_data/CEC_NoA_climatezones/climatezones_mappackage/Terms of use.doc
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones_2021_metadata.doc
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/Terms of use.doc
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/NorthAmericanClimateZones_English.lyrx
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/NorthAmericanClimateZones_French.lyrx
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/NorthAmericanClimateZones_Spanish.lyrx
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.cpg
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.dbf
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.prj
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.sbn
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.sbx
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.shp
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.shp.xml
data/climate_data/CEC_NoA_climatezones/climatezones_shapefile/NA_ClimateZones/data/North_America_Climate_Zones.shx
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_1.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_2.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_3.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_4.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_5.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_6.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_7.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_8.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_9.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_10.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_11.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_12.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_13.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_14.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_15.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_16.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_17.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_18.tif
data/climate_data/wc2.1_data/climate/wc2.1_2.5m/wc2.1_2.5m_bio_19.tif
data/05_algatr/n-amer-no-clones_ploidy1_filtered_plink-ld.vcf
**.DS_Store
data/05_algatr/wingen_kgd.tif
