.Rproj.user
.Rhistory
.RData
.Ruserdata
data/climate_data/na_climatezones_mappackage.zip
data/climate_data/na_climatezones_shapefile.zip
resources/class_template-scripts/
data/03_vcfs/pd.vcf.gz
.DS_Store
.DS_Store
code/.DS_Store
data/.DS_Store
code/.DS_Store
data/.DS_Store
data/05_algatr/n-amer-no-clones_filtered.vcf
